<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyConnectionString"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\sahil pathan\Downloads\Sahil ASP\App_Data\student.mdf;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>